* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: violet;
}

.container {
    width: 500px;
    background: white;
    background-color: coral;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
   
}

.input-box {
    display: flex;
    gap: 5px;
    border-radius: 8px;
}

input {
    flex: 1;
    padding: 8px;
    outline: none;
    border-radius: 8px;
}

button {
    padding: 8px 12px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

ul {
    list-style: none;
    margin-top: 15px;
}

li {
    padding: 8px;
    margin-bottom: 5px;
    background: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

li.completed {
    text-decoration: line-through;
    color:gray;
}

.delete {
    background: rgb(129, 19, 19);
    border: none;
    color: white;
    padding: 4px 6px;
   
}
#count{
    margin :10px 0;
    font-weight:bold;
    color:#333;
}

.progress-container {
    width: 100%;
    height: 12px;
    background: #ddd;
    border-radius: 6px;
    margin: 10px 0;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background: #28a745;
    transition: width 0.3s ease;
}

#progress-text {
    font-size: 14px;
    margin-bottom: 10px;
}


